{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/base.css">
  
  <title>Five Rings Stats</title>
</head>
<body style="background-color: #1C1812;">

  <!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light py-0" style="background-color: #FDF6E3;">

  <div class="container">
    <a class="navbar-brand" href="/">Five Rings Stats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active dropdown" style="display: inline">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clans
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #FDF6E3;">
          <a class="dropdown-item" href="/Crab">Crab</a>
          <a class="dropdown-item" href="/Crane">Crane</a>
          <a class="dropdown-item" href="/Dragon">Dragon</a>
          <a class="dropdown-item" href="/Lion">Lion</a>
          <a class="dropdown-item" href="/Phoenix">Phoenix</a>
          <a class="dropdown-item" href="/Scorpion">Scorpion</a>
          <a class="dropdown-item" href="/Unicorn">Unicorn</a>
        </div>
      </li>

      <li class="nav-item active dropdown" style="display: inline;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Support
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1" style="background-color: #FDF6E3;">
          <a class="dropdown-item" href="https://paypal.me/jimmyverdoora">Paypal</a>
          <a class="dropdown-item" href="https://patreon.com/jimmyverdoora">Patreon</a>
        </div>
      </li>

    </ul>
    </div>
  </div>
</nav>
  <!-- title -->
  <div class="container my-4" style="text-align: center">
    <h1 class="mb-1" style="font-size: 350%; color: #FDF6E3; display: inline;">
      <img src="/static/Military.png" alt="Military" style="width: 70px; height: 55px;" align="middle">
      Five Rings Stats
      <img src="/static/Political.png" alt="Political" style="width: 70px; height: 55px;" align="middle">
    </h1>
  </div>
  {% block content %}

  {% endblock content %}
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

